force-app/main/default/flows/Lead_Scoring_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Annual_Revenue_Score</name>
        <label>Add Annual Revenue Score</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varLeadScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_Of_Employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Company_Size_Score</name>
        <label>Add Company Size Score</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varLeadScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lead_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_Domain_Score</name>
        <label>Add Email Domain Score</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varLeadScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Title</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Industry_Score</name>
        <label>Add Industry Score</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varLeadScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email_Domain</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lead_Source_Score</name>
        <label>Add Lead Source Score</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varLeadScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Industry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Title_Score</name>
        <label>Add Title Score</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varLeadScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Lead_Grade</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Score</name>
        <label>Initialize Score</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varLeadScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Annual_Revenue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Grade_A</name>
        <label>Set Grade A</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>varLeadGrade</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A - Hot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Grade_B</name>
        <label>Set Grade B</label>
        <locationX>182</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>varLeadGrade</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B - Warm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Grade_C</name>
        <label>Set Grade C</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>varLeadGrade</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C - Cold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Score</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Annual_Revenue</name>
        <label>Check Annual Revenue</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Low Revenue</defaultConnectorLabel>
        <rules>
            <name>High_Revenue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AnnualRevenue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Annual_Revenue_Score</targetReference>
            </connector>
            <label>High Revenue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_Domain</name>
        <label>Check Email Domain</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Check_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Generic Email</defaultConnectorLabel>
        <rules>
            <name>Corporate_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotContain</operator>
                <rightValue>
                    <stringValue>@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotContain</operator>
                <rightValue>
                    <stringValue>@yahoo.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotContain</operator>
                <rightValue>
                    <stringValue>@hotmail.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_Domain_Score</targetReference>
            </connector>
            <label>Corporate Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Industry</name>
        <label>Check Industry</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Check_Email_Domain</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Industry</defaultConnectorLabel>
        <rules>
            <name>High_Value_Industry</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technology</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Healthcare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manufacturing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Industry_Score</targetReference>
            </connector>
            <label>High Value Industry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Source</name>
        <label>Check Lead Source</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Check_Industry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Source</defaultConnectorLabel>
        <rules>
            <name>High_Quality_Source</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Lead_Source_Score</targetReference>
            </connector>
            <label>High Quality Source</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_Of_Employees</name>
        <label>Check Number Of Employees</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Small Company</defaultConnectorLabel>
        <rules>
            <name>Large_Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Company_Size_Score</targetReference>
            </connector>
            <label>Large Company</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Title</name>
        <label>Check Title</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Determine_Lead_Grade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Title</defaultConnectorLabel>
        <rules>
            <name>Decision_Maker_Title</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CEO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CTO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CFO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>President</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Title_Score</targetReference>
            </connector>
            <label>Decision Maker Title</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Lead_Grade</name>
        <label>Determine Lead Grade</label>
        <locationX>176</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Set_Grade_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Score 0-40 (Grade C)</defaultConnectorLabel>
        <rules>
            <name>Score_60_Plus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLeadScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Grade_A</targetReference>
            </connector>
            <label>Score 60+ (Grade A)</label>
        </rules>
        <rules>
            <name>Score_41_59</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLeadScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>41.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLeadScore</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Grade_B</targetReference>
            </connector>
            <label>Score 41-59 (Grade B)</label>
        </rules>
    </decisions>
    <description>Automatically scores leads based on multiple criteria including company size, revenue, industry, lead source, email domain, and title. Assigns a grade (A-Hot, B-Warm, C-Cold) based on the total score.</description>
    <environments>Default</environments>
    <interviewLabel>Lead Scoring Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Scoring Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_Score</name>
        <label>Update Lead Score</label>
        <locationX>176</locationX>
        <locationY>1862</locationY>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>varLeadGrade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score__c</field>
            <value>
                <elementReference>varLeadScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialize_Score</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varLeadGrade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
