force-app/main/default/flows/Update_last_end_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Update last end Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update last end Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Related_customer</name>
        <label>Related customer</label>
        <locationX>564</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_lastEnd_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_lastEnd_date</name>
        <label>Update lastEnd date</label>
        <locationX>633</locationX>
        <locationY>506</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record__Prior.EndDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_End_Date__c</field>
            <value>
                <elementReference>$Record__Prior.EndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Customer</object>
    </recordUpdates>
    <start>
        <locationX>431</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Related_customer</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
